<app-header></app-header>

<ion-content class="ion-padding">
  <div class="about-container">
    <img src="assets\logo\planit-icon-2-nobg.png" alt="Planit Logo" class="about-logo" />

    <div class="about-text">
      <h2>¿Qué es Planit?</h2>
      <p>
        Planit es una app de productividad pensada para ayudarte a organizar tu día a día de forma sencilla. 
        Crea y gestiona tareas, agrúpalas en planes personalizados y sigue tu progreso. 
        Ideal para estudiantes, profesionales y cualquier persona que busque mantener el control de su rutina sin complicaciones.
      </p>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>
