.ion-padding {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('/assets/bg/planit-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  --background: none; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}


.header-container {
  text-align: center;
  margin-bottom: 32px;
  margin-top: 20px;

  .user-icon {
    font-size: 64px;
    color: #0baeff;
  }

  h2 {
    margin-top: 8px;
    font-weight: 600;
    font-size: 1.4rem;
  }
}

form {
  max-width: 360px;
  margin: 0 auto;
}

.input-container {
    max-width: 100%;
    margin-bottom: 32px;

  .input-label {
    font-weight: 500;
    margin-bottom: 6px;
    display: block;
    font-size: 0.95rem;
  }

  .rounded-item {
    --border-radius: 12px;
    --border-width: 1.5px;
    --border-color: #0baeff;
    --highlight-color-focused: #0baeff;
    margin-top: 4px;
    width: 100%;
  }

  ion-input {
    color: #000;
  }

  .password-icon {
    font-size: 20px;
    color: #666;
    cursor: pointer;
  }

  .invalid {
    --border-color: var(--ion-color-danger);
  }
}

ion-note {
  margin-top: 4px;
  font-size: 0.85rem;
}

.text-link {
  text-align: right;
  margin: 16px 0 32px;

  .forgot-password-link {
    font-size: 14px;
    color: #0baeff;
    cursor: pointer;
  }
}

.login-button {
  width: 100%;
  max-width: 360px;
  margin: 12px auto 0;
  background-color: #0baeff;
  color: white;
  font-weight: 500;
  font-size: 14px;
  height: 42px;
  border-radius: 20px;
  text-transform: none;
  border: none;

  // Esto sobreescribe fondo por defecto de ion-button
  --background: #0baeff;
  --background-hover: #0099dd;
  --background-activated: #007acc;
  --box-shadow: none;
  box-shadow: none;

  // Eliminar fondo blanco cuadrado que se ve por detrás
  --padding-start: 0;
  --padding-end: 0;
  --border-style: none;
}

.registro-container {
  text-align: center;
  margin-top: 40px;

  p {
    margin-bottom: 6px;
    font-size: 14px;
  }

  .btn-secondary {
    background-color: #0baeff;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    font-size: 14px;
    height: 42px;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-transform: none;
    border: none;

    --background: #0baeff;
    --background-hover: #0099dd;
    --background-activated: #007acc;
    --box-shadow: none;
    box-shadow: none;

    &:hover {
      background-color: #0099dd;
    }

    &:active {
      background-color: #007acc;
    }
  }
}