<ion-content class="welcome-content">
  <div class="background-overlay"></div>

  <div class="welcome-container">
    <!-- logo -->
    <img src="assets/logo/planit-logo-nobg-2.png" alt="Logo Planit" class="app-logo" />
    <h1 class="welcome-title">Bienvenido a Planit</h1>
    <img src="assets/icon/task-icon.webp" alt="Ilustración tareas" class="illustration-image" />

    <p class="welcome-text">
      Tu gestor y organizador de tareas, planes a medida.
    </p>

    <ion-button class="login-button" expand="block" routerLink="/login">
      Iniciar sesión
    </ion-button>
  </div>
</ion-content>
